<div class="container">

  <h2>Add new product</h2>
  <form #elementForm="ngForm">
    <div [hidden]="elementForm.submitted">

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control"
               required minlength="4" forbiddenName="bob"
               [(ngModel)]="newElement.name" #name="ngModel" >

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            This field is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters long.
          </div>

        </div>
      </div>

      <div class="form-group">
          <label for="kcal">Kcal</label>
          <input id="kcal" name="kcal" class="form-control"
                  required [(ngModel)]="newElement.kcal" #kcal="ngModel" >

          <div *ngIf="kcal.errors && kcal.touched" class="alert alert-danger">
            <div *ngIf="kcal.errors.required">Power is required.</div>
          </div>
      </div>
      <div class="form-group">
        <label for="protein">Protein</label>
        <input id="protein" name="protein" class="form-control"
                required [(ngModel)]="newElement.protein" #protein="ngModel" >

        <div *ngIf="protein.errors && protein.touched" class="alert alert-danger">
          <div *ngIf="protein.errors.required">Power is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="carbo">Carbo</label>
        <input id="carbo" name="carbo" class="form-control"
                required [(ngModel)]="newElement.carbo" #carbo="ngModel" >

        <div *ngIf="carbo.errors && carbo.touched" class="alert alert-danger">
          <div *ngIf="carbo.errors.required">Power is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="fat">Fat</label>
        <input id="fat" name="fat" class="form-control"
                required [(ngModel)]="newElement.fat" #fat="ngModel" >

        <div *ngIf="fat.errors && fat.touched" class="alert alert-danger">
          <div *ngIf="fat.errors.required">Power is required.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-secondary"
              (click) ="goBack()">Previous</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="elementForm.invalid"
              (click) = "onAddNewProduct()">Add new product</button>
      <button type="button" class="btn btn-default"
              (click)="elementForm.resetForm({})">Reset</button>
    </div>

    <div class="submitted-message" *ngIf="elementForm.submitted">
      <p>You've added, {{ elementForm.value.name }}!</p>
      <button class="btn btn-secondary" (click)="elementForm.resetForm({})">Add new product</button>
    </div>
  </form>

</div>
