<div *ngIf="profile">dasdasdsad</div>
Kcal
  <kendo-sparkline [data]="bulletKcal" type="bullet"  [valueAxis]="bulletValueKcal">
  </kendo-sparkline>
  Protein
    <kendo-sparkline [data]="bulletProtein" type="bullet"  [valueAxis]="bulletValueProtein">
    </kendo-sparkline>
  Carbo
    <kendo-sparkline [data]="bulletCarbo" type="bullet"  [valueAxis]="bulletValueCarbo">
    </kendo-sparkline>
  Fat
    <kendo-sparkline [data]="bulletFat" type="bullet"  [valueAxis]="bulletValueFat">
    </kendo-sparkline>
