.header{
  height: 8vh;
  z-index: 10;
}
.main-content{
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
.product-list{
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
div{
  position: relative;
}
