<div *ngIf="activeProfile; else elseContent">
  <h2>Statistics</h2>
  <kendo-chart>
    <kendo-chart-title text="Nutrients"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="donut" [data]="data"
          categoryField="kind" field="share">
        <kendo-chart-series-item-labels
          [content]="labelContent"
          color="#fff" background="none">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="true"></kendo-chart-legend>
  </kendo-chart>
  <kendo-chart>
    <kendo-chart-title text="Currently nutrients vs needs"></kendo-chart-title>
    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="['kcal', 'protein', 'carbo', 'fat']">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="bar" [gap]="2" [spacing]=".25" [data]="currently">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="needs">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
<ng-template #elseContent>Please check some <a routerLink="/profiles-list">profile</a></ng-template>
