
<div class="card">
  <div class="card-block">
    <h4 class="card-title"> {{ profile.name }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Daily Caloric Needs</h6>
    <div>
    <table class = "table">
        <thead>
          <tr>
            <th>Kcal</th>
            <th>Protein</th>
            <th>Carbo</th>
            <th>Fat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{ profile.kcal }}</th>
            <th>{{ profile.protein }}</th>
            <th>{{ profile.carbo }}</th>
            <th>{{ profile.fat }}</th>
          </tr>
        </tbody>
    </table>
  </div>

</div>
</div>
